pseudo code pt.1
- load data
- split data - test and train
- train model to predict level 1 using description
- save model  
- select all cat a: train model and save  
- select all cat b: train model and save  
- select all cat c: train model and save  

model training complete - i have four saved models  

pseudo code pt.2 

- load test set  
- predict level 1 cat with model 1  
- if cat is a use model 2 to predict level 2 else  
- if cat is b use model 3 to predict level 2 else
- if cat is c use model 4 to predict level 2 

- combine predictions from different models
- give accuracy score for level 1 predictions
- give accuracy score for level 2 predictions

In [8]:
from sklearn.feature_extraction.text import CountVectorizer
from scipy.spatial import distance_matrix
from scipy.spatial.distance import pdist, squareform
from sklearn.model_selection import train_test_split

import nltk
from nltk.stem import PorterStemmer

import re
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv('product-cat-dataset.csv')

In [6]:
df = pd.DataFrame(data)

df.head()

                                         Description   Level_1 Level_2 Level_3
0  gerb cap help keep littl on head cov warm day ...  09BF5150   C7E19    D06E
1  newborn inf toddl boy hoody jacket oshkosh b g...  2CEC27F1   ADAD6    98CF
2  tut ballet anym leap foxy fash ruffl tul toddl...  09BF5150   C7E19    D06E
3  newborn inf toddl boy hoody jacket oshkosh b g...  2CEC27F1   ADAD6    98CF
4  easy keep feel warm cozy inf toddl girl hoody ...  2CEC27F1   ADAD6    98CF

In [13]:
# randomly splits - setting random_state keeps same randomization each time, keep results consistent
train, test = train_test_split(data, test_size=0.2, random_state=1811)
print(train.shape)
test.shape

(8519, 4)

(2130, 4)

In [12]:
train.head()
#don't have classification level data

,Description,Level_1,Level_2,Level_3
10530,term 12 issu on year subscriptionyo sav 70 cov...,90A8B052,C719A,A0E2
7073,repres spirit beauty way sterl silv cross pend...,96F95EEC,A04D3,C5B4
5482,rock n rol fantasy tee retro elect guit graph,4513C920,F4055,7C00
1921,bon 1 silicon sleev includ bpa fre activeflow ...,69286F45,2D5A3,28A7
2101,med flow work best inf 4 12 month compat medel...,69286F45,2D5A3,28A7

In [ ]:
class1 = train['Level_1'].astype(str)
class2 = train['Level_2'].astype(str)

In [ ]:
#create model
#decision tree classifier - max decision you can have is 5 with max_depth
%%time
tree = DecisionTreeClassifier(max_depth=5)

#train or fit model on level 1 classification using data from info cols (in our case description)
tree.fit(train[['x', 'xx', 'xxx', 'xxxx']], class1)

In [ ]:
#savel level 1 classifier
with open('level1.px', 'wb') as cls:
    pickle.dump(tree, cls)

In [ ]:
#now fitting models for the level 2 data
# want to split test data into sub data for each classification e.g. 

x = list(class1[class1 == 'A'].index)
#get all class1 A subset of data

train.loc[x, ['x', 'xx', 'xxx', 'xxxx', 'level_1']]

In [ ]:
class2[x]

In [ ]:
#run another model
tree = DecisionTreeClassifier(max_depth=5)
tree.fit(train.loc[x,['x', 'xx', 'xxx', 'xxxx']], class2[x])

#save level 2a classifier
with open('level2_a')

In [ ]:
#load model
with open('level1.pk', 'rb') as nb:
    model = pickle.load(nb)

#use loaded model to make predictions
level1_pred = model.predict(test[['x', 'xx', 'xxx', 'xxxx']])

#take a loot at predictions
level1_pred

#use accurascy score to test actual vs predict to model
accurascy(test[['level_1']], level1_pred)